@import url('https://fonts.googleapis.com/css2?family=Basic&family=Montserrat&family=Nunito+Sans:ital,wght@1,300&display=swap');
.App {
	box-sizing: border-box;
	box-shadow: 0 0 2rem -1rem black;
	margin-bottom: 3rem;
	header {
		font-family: 'Basic', sans-serif;
		background-color: #2f3f4e;
		padding: 3rem 2rem;
		text-transform: uppercase;
		letter-spacing: 0.15rem;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}
	.parent {
		font-family: 'Nunito Sans', sans-serif;
		.left-side {
			border-bottom-left-radius: 1rem;
			padding: 0rem 2rem;
			background-color: #f1f1f1;
			padding-bottom: 2rem;
			img {
				border-radius: 50%;
				width: 60%;
				position: relative;
				transform: translate(30%, -50%);
				box-shadow: 0 0 2rem -1rem rgb(245, 242, 242);
			}
			& > div {
				h4 {
					border-bottom: 2px dotted rgba(0, 0, 0, 0.568);
					text-align: center;
					padding: 0.5rem;
					text-transform: capitalize;
				}
				& > p,
				& > div {
					justify-content: center;
					padding: 0.5rem 5px;
					background-color: rgb(250, 248, 248);
					border-radius: 10px;
					overflow: hidden;
					& > p:last-child {
						align-items: center;
						justify-content: center;
						& > span {
							margin-right: 3px;
							height: 0.5rem;
							border: 1px solid #2f3f4e;
							border-radius: 0.5rem;
							position: relative;
							& > span {
								position: absolute;
								top: 0%;
								bottom: 0%;
								left: 0%;
								right: 25%;
								border-radius: 0.5rem;
								background-color: #2f3f4e;
							}
						}
					}
				}
				& > div + div {
					margin-top: 0.5rem;
				}
			}
			.contact {
				p {
					padding: 0.5rem;
				}
			}
		}
		.right-side {
			border-bottom-right-radius: 1rem;
			font-family: 'Montserrat', sans-serif;
			padding: 2rem;
			background-color: rgb(250, 248, 248);
			.about {
				p {
					padding: 1rem;
					margin: 1rem;
					border-radius: 1rem;
					background-color: #f1f1f1;
					color: rgba(0, 0, 0, 0.644);
				}
			}
		}
	}
}
.parent-education {
	margin: 1rem;
	& > div {
		border-radius: 0.8rem;
		background-color: #f1f1f1;
		padding: 1rem;
		nav {
			display: flex;
			justify-content: space-between;
			h5 {
				text-transform: capitalize;
				&:last-child {
					color: rgba(0, 0, 0, 0.685);
				}
			}
		}
		p {
			color: rgba(0, 0, 0, 0.466);
		}
	}
	& > div {
		margin-bottom: 1rem;
	}
}
.parent-project {
	margin-top: 1rem;
	ul {
		list-style-type: none;
		li {
			font-family: 'Basic', sans-serif;
			padding: 0.5rem 1rem;
			background-color: #f1f1f1;
			font-size: 1.3rem;
			margin: 1rem;
			border-radius: 0.5rem;
			text-align: center;
			&:hover {
				cursor: pointer;
			}
		}
	}
}
.parent-experience {
	margin: 1rem;
	background-color: #f1f1f1;
	border-radius: 1rem;
	padding: 1rem;
	h5 {
		align-items: center;
		span:first-child {
			font-size: 1.2rem;
			font-weight: 400;
		}
		span:last-child {
			font-size: 1.2rem;
			font-family: 'Nunito Sans', sans-serif;
		}
	}
	p {
		margin: 1rem;
		font-size: 1.05rem;
	}
}
.portfolio {
	a {
		padding: 0.5rem;
		background-color: rgb(250, 248, 248);
		border-radius: 0.5rem;
		color: black;
		text-overflow: ellipsis;
		&:hover {
			text-decoration: none;
		}
		margin-bottom: 1rem;
	}
}
